.disabled-page, .disabled-sub-page{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

[data-page] {
	cursor: pointer;
}

.nav-collapse li a {
	font-weight: bold;
}

.illution-illu {
	color:rgb(0, 109, 204);
}

.padding-top {
	padding-top: 20px;
}

.row-fluid .pull-left[class*="span"]:last-child { margin-left: 0; }

@media (max-width: 767px) {
    .row-fluid .pull-right[class*="span"] { float: none; }
}

.label {
	cursor: help;
}

.label-pointer {
	cursor: pointer;
}

.minus-margin-bottom {
	margin-bottom: -0px;
}

.emloyees {
	margin-left: 5px;
}

.crew {
	margin-bottom: -5px;
}