############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Node and grunt ignore rules
node_modules/
js/concat.js
css/concat.css
js/compiled.js
css/compiled.css
js/script.min.js
compiled/
